/*
 * Stylesheet for light theme
 */

:root{
    --primary-color: #6223db;
    --primary-variant-color: #8566c8;
    --secondary-color: #c78766;
    --main-background-color: white;
    --surface-color: white;
    --error-color: #B00020;
    --on-primary-color: black;
    --on-secondary-color: black;
    --on-background-color: black;
    --on-surface-color: black;
    --on-error-color: white;
}

/* Elevation background colours */
.l0block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.05);
}
.l1block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 3px rgba(0, 0, 0, 0.07);
}
.l2block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.l3block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.09);
}
.l4block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11);
}
.l5block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.l6block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.14);
}
.l7block{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
}