/*
 * Stylesheet for all themes
 */

body {
    background-color: var(--main-background-color);
    color: var(--on-background-color);
}

/* unvisited link */
a:link {
    color: var(--primary-variant-color);
}
/* visited link */
a:visited{
    color: var(--primary-color);
}
/* mouse over link */
a:hover{
    color: var(--on-background-color);
}
/* selected link */
a:active{
    color: var(--on-background-color);
}

/* top navigation bar */
.topbar{
    background-color: var(--primary-color);
    overflow: hidden;
}
.topbar_button{
    float: right;
}

/* Elevations */
.l0block{
    margin-left: 1%;
}
.l1block{
    margin-left: 1%;
}
.l2block{
    margin-left: 1%;
}
.l3block{
    margin-left: 1%;
}
.l4block{
    margin-left: 1%;
}
.l5block{
    margin-left: 1%;
}
.l6block{
    margin-left: 1%;
}
.l7block{
    margin-left: 1%;
}