#lists-container .shopping-list-item.dragging {
    opacity: 0.5;
    border: 2px dashed var(--bs-body-color) !important;
}

#lists-container .shopping-list-item:has(.shopping-list-item-checked input:checked) {
    opacity: 0.75;
    transition: all 0.3s ease;
}

#lists-container .shopping-list-item {
    background-color: var(--bs-tertiary-bg);
}

#lists-container .shopping-list-item {
    border-radius: .75rem;
}

.drag-handle {
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (min-width: 576px) {
    #main-content {
        border-radius: 10px;
    }
    #lists-container .shopping-list-item {
        border-radius: 0;
    }
}

.logo {
    background-image: url(../assets/images/logo-dark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[data-bs-theme='dark'] .logo {
    background-image: url(../assets/images/logo-light.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}